In [69]:
# Import libraries
import json
import pandas as pd
from pandas import DataFrame
from pandas.io.json import json_normalize #package for flattening json in pandas df

In [317]:
file_path = './test_data/weather_obs-clipped.json'

#load json object
with open(file_path) as f:
    d = json.load(f)

raw_data = json_normalize(d['SiteRep'])
raw_data

,DV.Location,DV.dataDate,DV.type,Wx.Param
0,"[{'i': '3002', 'lat': '60.749', 'lon': '-0.854...",2016-06-21T16:00:00Z,Obs,"[{'name': 'G', 'units': 'mph', '$': 'Wind Gust..."

In [318]:
location = json_normalize(data=d['SiteRep']['DV'], record_path=['Location'], 
                          meta=['dataDate', 'type'])
location

,Period,continent,country,elevation,i,lat,lon,name,dataDate,type
0,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,15.0,3002,60.749,-0.854,BALTASOUND,2016-06-21T16:00:00Z,Obs
1,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,82.0,3005,60.139,-1.183,LERWICK (S. SCREEN),2016-06-21T16:00:00Z,Obs
2,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,57.0,3008,59.527,-1.628,FAIR ISLE,2016-06-21T16:00:00Z,Obs
3,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,12.0,3010,59.083,-4.404,SULE SKERRY (MAWS),2016-06-21T16:00:00Z,Obs
4,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,26.0,3017,58.954,-2.9,KIRKWALL,2016-06-21T16:00:00Z,Obs
5,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,4.0,3023,57.358,-7.397,SOUTH UIST RANGE,2016-06-21T16:00:00Z,Obs
6,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,15.0,3026,58.214,-6.325,STORNOWAY,2016-06-21T16:00:00Z,Obs
7,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,265.0,3031,57.725,-4.896,LOCH GLASCARNOCH SAWS,2016-06-21T16:00:00Z,Obs
8,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,11.0,3034,57.859,-5.636,AULTBEA,2016-06-21T16:00:00Z,Obs
9,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,18.0,3037,57.257,-5.809,SKYE/LUSA (SAMOS),2016-06-21T16:00:00Z,Obs
10,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,773.0,3039,57.4175,-5.689,BEALACH NA BA,2016-06-21T16:00:00Z,Obs
11,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,1130.0,3041,56.822,-4.97,AONACH MOR,2016-06-21T16:00:00Z,Obs
12,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,81.0,3044,58.288,-4.442,ALTNAHARRA SAWS,2016-06-21T16:00:00Z,Obs
13,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,237.0,3047,56.867,-4.708,TULLOCH BRIDGE,2016-06-21T16:00:00Z,Obs
14,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,228.0,3063,57.206,-3.827,AVIEMORE,2016-06-21T16:00:00Z,Obs
15,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,1245.0,3065,57.116,-3.642,CAIRN GORM SUMMIT,2016-06-21T16:00:00Z,Obs
16,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,7.0,3066,57.6494,-3.5606,KINLOSS,2016-06-21T16:00:00Z,Obs
17,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,6.0,3068,57.712,-3.322,LOSSIEMOUTH,2016-06-21T16:00:00Z,Obs
18,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,933.0,3072,56.879,-3.42,CAIRNWELL,2016-06-21T16:00:00Z,Obs
19,"{'type': 'Day', 'value': '2016-06-21Z', 'Rep':...",EUROPE,SCOTLAND,36.0,3075,58.454,-3.089,WICK JOHN O GROATS AIRPORT,2016-06-21T16:00:00Z,Obs
20,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,140.0,3080,57.077,-2.836,ABOYNE,2016-06-21T16:00:00Z,Obs
21,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,134.0,3088,56.852,-2.264,INVERBERVIE,2016-06-21T16:00:00Z,Obs
22,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,65.0,3091,57.206,-2.202,ABERDEEN AIRPORT,2016-06-21T16:00:00Z,Obs
23,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,9.0,3100,56.497,-6.887,TIREE,2016-06-21T16:00:00Z,Obs
24,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,17.0,3105,55.681,-6.256,ISLAY AIRPORT,2016-06-21T16:00:00Z,Obs
25,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,10.0,3111,55.441,-5.699,CAMPBELTOWN AIRPORT,2016-06-21T16:00:00Z,Obs
26,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,11.0,3132,54.859,-4.936,WEST FREUGH (ESAWS),2016-06-21T16:00:00Z,Obs
27,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,59.0,3134,55.907,-4.533,GLASGOW/BISHOPTON,2016-06-21T16:00:00Z,Obs
28,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,27.0,3136,55.515,-4.585,PRESTWICK RNAS,2016-06-21T16:00:00Z,Obs
29,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,35.0,3144,56.326,-3.729,STRATHALLAN,2016-06-21T16:00:00Z,Obs
...,...,...,...,...,...,...,...,...,...,...
115,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,87.0,3808,50.218,-5.33,CAMBORNE,2016-06-21T16:00:00Z,Obs
116,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,78.0,3809,50.085,-5.257,CULDROSE,2016-06-21T16:00:00Z,Obs
117,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,200.0,3823,50.502,-4.667,CARDINHAM,2016-06-21T16:00:00Z,Obs
118,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,50.0,3827,50.354,-4.121,MOUNT BATTEN,2016-06-21T16:00:00Z,Obs
119,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,27.0,3839,50.737,-3.405,EXETER AIRPORT,2016-06-21T16:00:00Z,Obs
120,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,252.0,3840,50.86,-3.239,DUNKESWELL AERODROME,2016-06-21T16:00:00Z,Obs
121,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,27.0,3844,50.7366,-3.40458,EXETER AIRPORT 2,2016-06-21T16:00:00Z,Obs
122,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,20.0,3853,51.006,-2.64,YEOVILTON,2016-06-21T16:00:00Z,Obs
123,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,52.0,3857,50.522,-2.454,ISLE OF PORTLAND,2016-06-21T16:00:00Z,Obs
124,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,10.0,3862,50.779,-1.835,BOURNEMOUTH AIRPORT,2016-06-21T16:00:00Z,Obs
125,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,16.0,3866,50.577,-1.297,ST CATHERINES PT.,2016-06-21T16:00:00Z,Obs
126,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,4.0,3872,50.815,-0.923,THORNEY ISLAND,2016-06-21T16:00:00Z,Obs
127,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,13.0,3876,50.836,-0.292,SHOREHAM,2016-06-21T16:00:00Z,Obs
128,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,52.0,3882,50.89,0.319,HERSTMONCEUX WEST END,2016-06-21T16:00:00Z,Obs
129,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,CHANNEL ISLANDS,101.0,3894,49.44,-2.6,GUERNSEY,2016-06-21T16:00:00Z,Obs
130,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,CHANNEL ISLANDS,84.0,3895,49.2079,-2.1955,JERSEY,2016-06-21T16:00:00Z,Obs
131,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,NORTHERN IRELAND,49.0,3904,54.707,-7.577,CASTLEDERG,2016-06-21T16:00:00Z,Obs
132,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,NORTHERN IRELAND,6.0,3907,55.1604,-6.9492,MAGILLIGAN NO 2,2016-06-21T16:00:00Z,Obs
133,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,NORTHERN IRELAND,225.0,3911,54.721,-6.814,LOUGH FEA SAMOS,2016-06-21T16:00:00Z,Obs
134,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,NORTHERN IRELAND,156.0,3916,55.181,-6.153,BALLYPATRICK FOREST,2016-06-21T16:00:00Z,Obs
135,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,NORTHERN IRELAND,63.0,3917,54.664,-6.224,BELFAST INTERNATIONAL AIRPORT,2016-06-21T16:00:00Z,Obs
136,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,NORTHERN IRELAND,161.0,3923,54.237,-6.502,GLENANNE,2016-06-21T16:00:00Z,Obs
137,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,IRELAND,40.0,3952,51.799,-8.25,ROCHES POINT,2016-06-21T16:00:00Z,Obs
138,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,IRELAND,25.0,3953,51.933,-10.25,VALENTIA OBSERVATORY,2016-06-21T16:00:00Z,Obs
139,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,IRELAND,9.0,3976,54.233,-10.001,BELMULLET,2016-06-21T16:00:00Z,Obs
140,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,IRELAND,20.0,3980,55.366,-7.333,MALIN HEAD,2016-06-21T16:00:00Z,Obs
141,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,89.0,99057,52.017,-0.6,WOBURN,2016-06-21T16:00:00Z,Obs
142,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,115.0,99060,53.85,-2.467,STONYHURST,2016-06-21T16:00:00Z,Obs
143,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,177.0,99081,50.767,-3.9,NORTH WYKE,2016-06-21T16:00:00Z,Obs
144,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,ENGLAND,110.0,99142,54.273,-0.421,SCARBOROUGH,2016-06-21T16:00:00Z,Obs

In [331]:
period = json_normalize(data=d['SiteRep']['DV'], record_path=['Location', 'Period', 'Rep'],
                       meta=['dataDate', 
                             ['Location', 'continent'],
                             ['Location', 'country'],
                             ['Location', 'elevation'],
                             ['Location', 'lat'],
                             ['Location', 'lon'],
                             ['Location', 'name'],
                             ['Location', 'i'],
                             'type'])

# period = period.rename(columns={'T': 'T})
period

TypeError: string indices must be integers

In [192]:
location = json_normalize(data=d['SiteRep']['DV']['Location'], record_path='Period',  
                          meta=['continent', 'country', 'lat', 'lon', 'name', 'i'])
location

,Rep,type,value,continent,country,lat,lon,name,i
0,"[{'D': 'WSW', 'G': '32', 'H': '82.0', 'P': '10...",Day,2016-06-20Z,EUROPE,SCOTLAND,60.749,-0.854,BALTASOUND,3002
1,"[{'D': 'WSW', 'H': '90.4', 'P': '1006', 'S': '...",Day,2016-06-21Z,EUROPE,SCOTLAND,60.749,-0.854,BALTASOUND,3002

In [282]:
results = DataFrame(location['Rep'])
results

# json_normalize(results['Rep'])


for row in results.itertuples(index=False, name='Rep'):
    norm = json_normalize(getattr(row, 'Rep'))
    print(norm)

      $    D    Dp    G     H     P Pt   S     T      V  W
0   960  WSW  10.2   32  82.0  1000  R  23  13.2  20000  8
1  1020    W  10.4   31  82.6  1001  R  22  13.3  21000  8
2  1080    W  10.1   30  83.6  1002  R  22  12.8  16000  7
3  1140  WSW   9.8   30  87.5  1002  R  23  11.8  18000  7
4  1200  WSW   9.7   29  88.1  1003  R  18  11.6  17000  8
5  1260  WSW   9.7  NaN  88.7  1004  R  19  11.5  17000  8
6  1320  WSW   9.8  NaN  92.9  1005  R  14  10.9  14000  8
7  1380  WSW   9.8  NaN  91.1  1005  R  18  11.2  16000  7
      $    D    Dp     H     P Pt   S     T      V  W
0     0  WSW   9.4  90.4  1006  R  17  10.9  16000  8
1    60  WSW   8.4  90.9  1006  R  15   9.8  17000  7
2   120  WSW   9.0  91.6  1007  R  16  10.3  15000  7
3   180   SW   7.6  86.7  1007  R  11   9.7  14000  7
4   240  SSW   8.2  90.3  1007  R   9   9.7  13000  7
5   300  SSW   9.0  91.6  1008  R  11  10.3  11000  8
6   360   SW   9.1  87.4  1008  R  13  11.1  11000  8
7   420   SW   8.8  83.4  1008  R  14  11.5  14000  8
8   480  SSW   9.1  82.3  1009  R  15  12.0  14000  7
9   540   SW   8.5  75.4  1009  R  17  12.7  20000  7
10  600    S   8.9  72.2  1009  R  18  13.8  12000  7
11  660    S   9.3  72.2  1010  R  18  14.2  20000  8
12  720  SSE   9.7  78.7  1010  R  16  13.3  21000  7
13  780  SSE  10.0  71.4  1010  R  17  15.1  16000  7
14  840  SSE   9.0  73.6  1010  R  18  13.6  30000  3
15  900  SSE   9.9  80.8  1010  R  18  13.1  15000  7
16  960  SSE  10.6  84.2  1010  R  16  13.2  13000  8

In [244]:
results = json_normalize(data=results.to_dict())

KeyError: '0'

In [67]:
# Params
# raw_params = pd.read_json(df.SiteRep.Wx)
raw_params = pd.io.json.json_normalize(df.SiteRep.Wx)
raw_params = pd.io.json.json_normalize(raw_params.Param)

AttributeError: 'list' object has no attribute 'values'